.card-hover {
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    backdrop-filter: blur(0px);
    filter: brightness(0.95);
  }
  
  .card-hover:hover {
    transform: rotateX(3deg) rotateY(-3deg) scale(1.04);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    filter: brightness(1);
  }

.book-image {
  border-radius: 1rem;
  transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease, opacity 0.4s ease;
  cursor: pointer;
  opacity: 0.7;
}

.book-image:hover {
  transform: scale(1.12) rotate(0deg);
  filter: brightness(1.2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  opacity: 1;
  z-index: 4;
}





.timeline li {
  position: relative;
  padding-left: 1rem;
  border-left: 3px solid #ffc107;
}
.timeline li::before {
  content: '';
  position: absolute;
  left: -7px;
  top: 8px;
  width: 12px;
  height: 12px;
  background-color: #ffc107;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .modal-compra-ajustada .modal-dialog {
    margin: 1rem auto !important;
    max-width: 95%;
  }

  .modal-compra-ajustada .modal-content {
    border-radius: 1rem;
    overflow: hidden;
  }

  .modal-compra-ajustada .modal-body {
    padding: 1rem;
  }

  .modal-compra-ajustada .modal-header,
  .modal-compra-ajustada .modal-footer {
    padding: 1rem;
  }

  body.modal-open {
    overflow-y: hidden;
  }
}
